<?xml version="1.0"?>
<robot name="wrist_mount" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="wrist_mount" params="connected_to:='' ns:='' rpy:='0 0 0' xyz:='0 0 0' safety_distance:=0">
    <xacro:unless value="${connected_to == ''}">
      <joint name="wrist_mount_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="wrist_mount_link"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless>
    <link name="wrist_mount_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://fmm/meshes/Panda_RealSenseD435_Camera_Mount.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="gray">
          <color rgba="0.9 0.9 0.9 1"/>
        </material>
      </visual>
    </link>
  </xacro:macro>
</robot>